/* css/gerente/coordenador-detalhe.css */
@import url('colaboradores.css'); /* Importa estilos de tabela */

/* Card da Unidade */
.unit-group {
    margin-bottom: var(--spacing-lg);
}

.unit-group-header {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.unit-group-header i {
    color: var(--primary-color);
}